@media (max-width: 320px) {
  .wrapper {
    width: 305px;
    margin: 0;
    flex-direction: column;

    // left-menu
    .left-menu {
      display: none;
    }
    // shopping-cart
    .shopping-cart {
      width: 100%;
      // mobile-menu
      .mobile-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 61px;
        a {
          color: $cart-item-color;
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase;
          &::after {
            content: '';
            display: block;
            width: 0px;
            height: 0px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #848484;
            right: -30px;
            top: 7px;
            position: relative;
          }
        }
      }
      // breadcrumbs
      .breadcrumbs {
        display: none;
      }
      .wrapper-cart {
        .cart-header {
          .wrapper-cart-header {
            padding: 0 10px;
            .product-quantity-cart {
              span {
                display: none;
              }
              span:first-child {
                display: flex;
                flex-basis: 10%;
                margin: auto;
              }
            } // end product-quantity-cart
          } // end wrapper-cart-header
        } // end cart-body
        .cart-body {
          .cart-items {
            margin: 0 10px;
            .cart-item {
              flex-wrap: wrap;
              .mobile {
                display: flex;
                p {
                  font-size: 1rem;
                  font-weight: 900;
                  text-transform: uppercase;
                  margin: 15px 0 5px;
                }
              }
              .item-info {
                order: 1;
                flex-basis: 216px;
              }
              .btn-cancel {
                order: 2;
              }
              .name-quantity {
                order: 3;
                margin: auto;
                flex-basis: 90%;
              }
              .item-quantity {
                order: 4;
                margin: auto;
                flex-basis: 90%;
              }
              .cost-title {
                order: 5;
                margin-left: 15px;
                flex-basis: calc(50% - 15px);
              }
              .total-title {
                order: 6;
                flex-basis: calc(50% - 15px);
                display: flex;
                justify-content: flex-end;
                margin-right: 15px;
              }
              .cost-item {
                order: 7;
                flex-basis: calc(50% - 15px);
                text-align: left;
                margin-left: 15px;
              }
              .total-cost {
                order: 8;
                flex-basis: calc(50% - 15px);
                text-align: right;
                margin-right: 15px;
              }
            } // end cart-item
          } // end cart-items
          .block {
            .block-info {
              .bonus-list {
                .list-item {
                  label {
                    .img-bonus {
                      margin-left: 10px;
                    }
                  }
                }
              }
            } // end block-info
          } // end of block
          .delivery-block {
            .block-info {
              flex-direction: column;
              .delivery-info {
                padding-top: 0;
              }
            }
          } // end delivery block
          .insurance-block {
            .block-title {
              .title {
                flex-basis: 80%;
              }
            }
          } // end insurance block
        } // end cart body
        .footer-nav {
          flex-direction: column;
          width: 300px;
          padding: 0;
          align-items: center;
          margin-bottom: 35px;
          .btn {
            padding: 7px 0;
            width: 260px;
          }
          .btn-right {
            order: 1;
            margin-bottom: 10px;
          }
          .btn-left {
            order: 2;
          }
        } // end footer nav
      } // end wrapper-cart
    } // end shopping cart

    // modal window
    .modal-coupone {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
      display: none;
      z-index: 3;
      .modal-header {
        background: $btn-cancel-background-active;
        padding: 0 20px 44px;
      }
      .title-cart {
        font-size: 2rem;
        color: white;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
      }
      .wrapper-modal-dialog {
        width: 320px;
        height: 313px;
        background: $background-cart-body;
        margin: auto;
        position: relative;
      }
      .coupone-info {
        width: 260px;
        height: 185px;
        background: white;
        box-shadow: 0 4px 2px -2px $border-bottom;
        position: relative;
        top: -50px;
        left: 20px;
        .enter-info {
          display: block;
          padding: 2px 20px;
          border-bottom: 1px solid $border-bottom;
          p {
            font-weight: 900;
          }
        }
        .enter-area {
          display: block;
          padding: 17px 20px 7px;
          span {
            font-weight: 900;
          }
          input {
            margin-top: 8px;
            width: 218px;
            height: 40px;
            border: 1px solid $input-border;
            border-radius: 5px;
            background: $input-background;
          }
        }
        .btn {
          font-size: 1.13rem;
          text-transform: uppercase;
          position: relative;
          bottom: -34px;
          left: 76px;
          display: flex;
          align-items: center;
          padding: 7px 20px;
          border: none;
          border: 1px solid $border-left-btn;
          border-radius: 36px;
          cursor: pointer;
        }
        .btn-left {
          color: $arrow-left;
        }
        .btn-right {
          color: white;
          border: none;
          border: 1px solid $background-right-btn;
          background: $background-right-btn;
        }
      }
      .close {
        position: relative;
        top: -11px;
        left: 250px;
      }
    }
    .is-open {
      display: flex;
    }
  }

  // mobile modal window
  .mobile-menu {
    display: none;
    width: 100%;
    background: $background-left-menu;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    .categories-header {
      font-weight: 700;
      text-transform: uppercase;
      .wrap-name-type {
        padding: 16px 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .categories-name {
        color: $text-color-dark-grey;
      }
      .sort-type {
        color: $text-color-light-grey;
      }
      .home-link {
        flex-basis: 100%;
        display: block;
        padding: 16px 20px;
        font-weight: 900;
        text-decoration: none;
        color: $text-color-dark-grey;
      }
    }
    // list of categories
    .categories-list {
      list-style: none;
      padding: 0;
      .list-item:first-child {
        padding: 0;
        margin: 0;
      }
      .list-item:last-child {
        border-bottom: none;
      }
      .list-item {
        border-bottom: 1px solid $border-bottom;
      }

      .item-link {
        color: $text-color-dark-grey;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        padding: 15px 16px;
      }
      .item-link::after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid $corner;
        right: -252px;
        top: -10px;
        position: relative;
      }
      .active {
        .item-link::after {
          content: '';
          display: block;
          width: 0px;
          height: 0px;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid $corner;
          border-bottom: none;
          right: -252px;
          top: -10px;
          position: relative;
        }
      }

      a {
        text-decoration: none;
      }
      .sub-menu {
        list-style: none;
        background: $background-submenu;
        margin: 0;
        padding: 0;
        .sub-menu-item {
          border-top: 1px solid $border-bottom;
        }
        .sub-link {
          color: $text-color-light-grey;
          font-weight: 700;
          display: block;
          padding: 20px 16px;
        }
      }
    }
    .close-mobile-menu {
      border: none;
      background: none;
      margin: auto;
      padding: 20px 20px;
      display: block;
      cursor: pointer;
      font-size: 2rem;
    }
  } // end mobile-menu
  .open {
    display: block;
  }
  // end media query
}
