$background-left-menu: #fff;
$text-color-dark-grey: #424242;
$text-color-light-grey: #797979;
$border-bottom: #eee;
$background-submenu: #f8f8f8;
$corner: #848484;
$arrow-left: #3078c0;
$border-left-btn: #dcdcdc;
$background-right-btn: #f1654c;
$background-cart-title: #f1654c;
$breadcrumbs: #b0b0b1;
$background-cart-body: #f9f9f9;
$cart-item-color: #333333;
$btn-cancel-border: #d9d9d9;
$btn-cancel-border-active: #df5c44;
$btn-cancel-background-active: #f1654c;
$btn-border-add-bonus: #d2d2d2;
$info-text: #777777;
$radio-btn-border: #dfdfdf;
$input-border: #bfbfbf;
$input-background: #fcfcfc;
